*{
    margin: 0;
    padding: 0;
}
.container{
   background-color: black;
    height: 100%;
    
    
    
  
    background-position: center;
    background-size: cover;
    
    
    
   
}
/*-------------------------navbar-------------------*/
.navbar{
    text-align: right;  
    padding: 20px 30px 20px 0px;
    background-color:rgb(34, 32, 32);
   
  width: 100%;
    position: fixed;
    overflow: hidden;
    
   
    
}
.logo img{
    margin: -20px;
    float: left;
    height: 61px;
    width: 92px;
    border: 1px solid ;
   
    margin-left: 20px;

}
.navbar a{
font-size: 15px;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
padding: 12px;
    color: white;
    
    margin: 3px;
  
}
.navbar a:hover{
    background-color: white;
    color: black;
    
}
.icon{
  display: none;
}


/*-----------------------------content------------------------------*/

.content{
   
    padding: 128px 84px;
    margin: 10px;
    display: inline-block;
   
}
.recently {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    color: white;
}

.song{
    box-shadow: 0 1px 2px 0 rgba(231, 222, 222, 0.2);
  transition: 0.5s ;
    
   border-radius: 15px;
    
    
   
  
    
}

.recently img{
  cursor: pointer;
 border-radius: 10px;
 margin: 15px;
  
  padding: 0px;
    width:  180px;
    height: 180px;
    object-fit: fill;
}
.recently img:hover{
  
   
   box-sizing: border-box;
  
  box-shadow: 0 8px 16px 0 rgba(223, 223, 223, 0.599);
  
}


/*--------------------------------------music-------------------------------*/
.music{
    background-color: black;
}



.player {
   
    justify-content: center;
    box-sizing: border-box;
    height: 79px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 633px;
   background-image: url(back.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  
    padding: 13px;
    font-size: 22px;
}


/*-----------------------------------------------------------*/



.audio-container{
  
  border-radius: 15px;
 
  display: flex;
  padding: 10px 190px;
  position: relative;
  
  z-index: 10;
}

.img-container {
  position: relative;
  width: 100px;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: inherit;
  position: absolute;
  bottom: 0;
  
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  
}

.audio-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navigation .action-btn {
  
  background-color: #000;
  border: 0;
  color: #f7be04;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}


.navigation .action-btn.action-btn-big {
  color: #fcb51b;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.audio-info {
  background-color: rgba(174, 9, 228, 0.849);
  color: white;
  border-radius: 15px 15px 0 0;
  position: absolute;
  left: 0;
 justify-content: center;
  width: 100%;
 
 
}


.audio-info h4 {
  margin: 1px;
  color: #fff;
  
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px 0px;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
}
/*--------------------------------responsive css-------------------------*/

@media screen and (max-width:700px) {
  .container{
    width: fit-content;
  }
  .navbar{
    padding: 5px 0px;
  }
  .navbar a.icon{
    display: block;
   
   float: right;
   
  }
  
  .logo img{
    height: 70px;
    width: 76px;
    
    
  }
  
  
  .navbar a {
    display: none;
  }
  .player{
    height: 5%;
    width: 100%;
    left: 0;
    padding: 0;
    margin-left: 0;
     top: 530px;
  }
  .audio-info{
    height: 10%;
    position:fixed;
  
 justify-content: center;
  width: 100%;
    
  }
  .recently{
    font-size: 10px;
  }
  .recently img{
    max-width: 100px;
    max-height: 100px;
  }
  .content{
    padding: 75px 35px;
  }
  .audio-info h4 {
    color: transparent;
    
  }
  .img-container img {
    height: 80px;
    width: 80px;
    bottom: 0px;
    left: 20px;
    
}




  
}



@media screen and (max-width:700px) {
    

    
  .navbar.responsive{
    padding: 22px;
      
  }
  .navbar.responsive .icon{
    margin: 8px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 12px;
      
  }
  .navbar.responsive a{
    display: block;
    text-align: center;
    padding: 14px;
    margin: 60px;
    font-size: 20px;
  }
 
}




